<ngb-tabset>
    <ngb-tab>
        <template ngbTabTitle>订单打印&nbsp;<span class="glyphicon  glyphicon-print"></span></template>
        <template ngbTabContent>
            <tab-order-print>
            </tab-order-print>
        </template>
    </ngb-tab>
    <ngb-tab>
        <template ngbTabTitle>订单状态&nbsp;<span class="glyphicon  glyphicon-cog"></span></template>
        <template ngbTabContent>
            <tab-order-status></tab-order-status>
        </template>
    </ngb-tab>
    <ngb-tab>
        <template ngbTabTitle>订单更新&nbsp;<span class="glyphicon  glyphicon-edit"></span></template>
        <template ngbTabContent>
           <tab-order-update></tab-order-update>
        </template>
    </ngb-tab>
</ngb-tabset>