<vaadin-grid [items]="goods" selection-mode="single" visible-rows="14">
    <table style="font-size: 12px;">
        <colgroup>
            <col name="gcode">
            <col name="gname">
            <col name="gunitprice">
            <col name="gpreweight">
            <col name="gpreprice">
        </colgroup>
        <thead>
        <tr>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>单价</th>
            <th>重量</th>
            <th>价格</th>
        </tr>
        </thead>
    </table>
</vaadin-grid>